// BuntMoney
// =========


@import 'config/manifest';
@import '../node_modules/accoutrement-init/sass/init';


// Root
// ----

@include import-webfonts;

:root {
  @include contrasted('background');
  @include font-family('body');
  font-size: size('root');
  font-size: calc(110% + 0.5vw);
  line-height: map-get($ratios, 'buntpress');
}

h1 {
  font-size: size('large');
  font-size: calc(100% + 2vw);
}

a {
  #{$link} {
    color: color('action');
  }

  #{$focus} {
    text-decoration: none;
  }
}

$graph-size: 24vmin;


// layout
// ------

html {
  align-items: center;
  border: 10vmin solid gold;
  border-image: url('images/frame.png') 185 226 round;
  background: url('images/canvas.jpg') no-repeat fixed center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;

  @include above('page') {
    border-width: 15vmin;
  }
}

body {
  @include clearfix;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

aside {
  @include stretch(0, null, 0, 0);
  box-shadow: 0 0 size('half-shim') color('background') inset;
  background-image: repeating-linear-gradient(45deg, color('overlay') 0, color('overlay') 4px, color('red') 4px, color('red') 6px);
  width: $graph-size;
}

header,
main {
  margin-left: $graph-size;
  padding: size('shim') 5vmin;
}


// Main
// ----

.money {
  @include stretch(0, 0, null, 0);
  padding: size('half-shim');
  text-align: center;

  .current,
  .whatever,
  .goal {
    background: linear-gradient(to top, color('overlay') 75%, transparent 75%);
    display: inline-block;
    text-shadow: 0 0 size('half-shim') color('background');
  }

  .current,
  .goal {
    @include before('$');
    font-weight: bold;
  }

  .whatever {
    @include font-size('small');
    font-style: italic;
  }
}

[data-percent] {
  @include stretch(null, 0, 0, 0);
  background: url('images/paint.jpg') no-repeat scroll;
  background-size: cover;
  box-shadow: 0 0 size('half-shim') color('background') inset;
}

@for $i from 1 through 100 {
  [data-percent='#{$i}'] {
    height: $i * 1%;
  }
}

p {
  margin-bottom: size('gutter');
}

button {
  @include contrasted('action');
  border: 2px solid contrast('action');
  border-radius: size('half-shim');
  padding: size('shim') size('gutter');
  text-align: center;
  transition: all 150ms;
  width: 100%;

  #{$focus} {
    background-color: color('action' ('shade': 15%));
    box-shadow: 0 0 size('shim') contrast('background');
  }

  b,
  strong,
  .whatever {
    display: block;
    text-transform: capitalize;
  }
}

small {
  @include font-size('small', 0.75);
  display: block;
  font-style: italic;
  margin-top: size('gutter');
  padding: size('shim');
  text-align: center;
}
