// Font Settings
// =============

@import '../../node_modules/accoutrement-type/sass/type';


// Links
// -----

$link: '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';


// Fonts
// -----

$font-formats: 'woff2' 'woff' 'ttf';
$font-path: 'fonts/';

$serif-font: (
  'name': 'BaskervilleFS',
  'stack': (Baskerville, Palatino, Cambria, Georgia, serif),
  'regular': 'baskerville-regular-webfont',
  'italic': 'baskerville-italic-webfont',
  'bold': 'baskerville-bold-webfont',
  'bold' 'italic': 'baskerville-bolditalic-webfont',
);

$fonts: (
  'body': $serif-font,
);
