// Font Settings
// =============

@import '../../node_modules/accoutrement-type/sass/type';


// Links
// -----

$link: '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';


// Fonts
// -----

$font-formats: 'woff2' 'woff' 'ttf';
$font-path: 'fonts/';

$sans-font: (
  'name': 'SourceSansPro',
  'stack': ('Helvetica Neue', Helvetica, Arial, sans-serif),
  'regular': 'sourcesanspro/sourcesanspro-regular-webfont',
  'italic': 'sourcesanspro/sourcesanspro-italic-webfont',
  'bold': 'sourcesanspro/sourcesanspro-bold-webfont',
  'bold' 'italic': 'sourcesanspro/sourcesanspro-bolditalic-webfont',
);

$serif-font: (
  'name': 'BaskervilleFS',
  'stack': (Baskerville, Palatino, Cambria, Georgia, serif),
  'regular': 'serif/baskerville-regular-webfont',
  'italic': 'serif/baskerville-italic-webfont',
  'bold': 'serif/baskerville-bold-webfont',
  'bold' 'italic': 'serif/baskerville-bolditalic-webfont',
);

$fonts: (
  'boiler': $sans-font,
  'body': $serif-font,
);
